
.logo {
height: 40px;
width: 40px;
margin-right: 0.5em;
}
.container {
  padding-top: 70px;
}
.reg{
  padding-bottom: 20px;
}
@media(max-width:990px) {
  .img2{
    display: none;
  }
}
.img2{
  height: 500px;
  width: 180px;
  padding-left: 60px;
  margin-left: 0;
}
.top-container{
  background-color: white;
}
.list-group-item-action {
  background-color: #ebebeb;
}
.reco{
  color: green;
}

.carousel-item{
height: 340px;
text-align:center;

}
.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
    filter: invert(100%);
}
.aligns{
  text-align:center;
  margin-bottom: 1.5rem;
}
.green{
  height: 150px;
  width: 150px;
  position:relative;
  margin-top: 1.5rem;
}

.jum{
  background-color: #e9ecef;
  margin: 0 auto;
  width: 100%
}
.page-footer{
  margin-bottom: 0;
  padding-bottom: 15px;
}
.pad{
  padding-top: 50px;
}
.icons-color, .list-group-item-action, .reg {
  color: black;
}
